<% if (data) { %>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/css/uikit.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <style>
      .main {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 50px 0 100px 0;
      }
      .white-txt {
        color: white !important;
      }
    </style>
  </head>
  <body style="background: linear-gradient(45deg, black, transparent);">
    <nav
      class="uk-navbar-container uk-margin"
      style="background: lightslategrey;"
      uk-navbar
    >
      <div class="uk-navbar-center">
        <div class="uk-navbar-left">
          <div>
            <ul class="uk-navbar-nav">
              <li class="uk-active">
                <a href="#" class="white-txt">Active</a>
              </li>
              <li>
                <a href="#" class="white-txt">Parent</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="uk-navbar-center">
          <a class="uk-navbar-item uk-logo white-txt" href="#"
            >Employee Directory</a
          >
        </div>
        <div class="uk-navbar-right">
          <div>
            <ul class="uk-navbar-nav">
              <li><a href="#" class="white-txt">Item</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="main"><%- data.main %></div>
  </body>
</html>
<%} %>
